.board {
  display: flex;
  gap: 20px;
}

.column {
  margin: 10px;
}

.column h3 {
  display: flex;
  justify-content: space-between;
}
.user {
  display: inline-block;
  align-items: "center";
  margin-left: "8px";
}

.user-status {
  font-size: 12px;
  font-weight: bold;
}